/*Custom css */
.navbar{
    z-index: 10;
    background-color: #101935;
}

.navbar a{
    color: #E6E6E6;
}

#hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/Background.jpg);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: max-content;
    padding-top: 50px;
    padding: 450px 0px;
}

#About-me-section {
    background-color:#E6E6E6;
    padding-top: 50px;
    padding-bottom: 50px;
  }

#About-me-section h2{
    color: #E6E6E6;
}

#About-me-Section p{
    color: #123458;
}

