/*Custom css */
.navbar{
    z-index: 10;
    background-color: #101935;
}

.navbar a{
    color: #E6E6E6;
}

#hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(assets/Background2.png);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    min-height: max-content;
    padding: 400px 0px;
}